<ion-view title="Parking">

  <ion-content scroll="false">
      
        <div map-lazy-load="https://maps.google.com/maps/api/js" class="mapWrap"  data-tap-disabled="true">
         <ng-map zoom="{{vm.data.range}}" center="current-position" disable-default-u-i="true "  styles='[{"featureType":"all","stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},{"featureType":"road","stylers":[{"saturation":-70}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]' on-click="vm.setCenter(event)" >
          <marker icon="{{vm.customIcon}}" position="{{vm.data.pos.lat}},{{vm.data.pos.lng}}"  centered="true" ></marker>
           <marker  icon="/img/markerParking.png" ng-repeat="p in vm.data.parkings" position="{{p.geo}}"  data="{{ vm.data.parkings[$index]}}" on-click="vm.showParking()"></marker>
        </ng-map>
       
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
        </div>

      <div class="footer-map ">
          <div class="indication">
            Distancia al centro 
          </div>
            <div class="item range range-royal">
             
              <input type="range" name="volume" min="5" max="16" ng-model="vm.data.range">
             
            </div>
          </div>
    </ion-content>
    <script id="parking-modal.html" type="text/ng-template">
      <ion-modal-view style="width: 80%; height: 60%; min-height: 0; top: 10%; left: 10%; right: 10%; bottom: 0;">
        <ion-content>
        <div class="direccion">
        {{vm.data.selectParking.direccion}}
        </div>
        <div class="foto" back-img="img/parking.jpg">
        </div>
       <div class="dueno">
           <div class="row">
           <div class="col col-50">
             <i class="icon ion-ios-person-outline"></i> 
            {{vm.data.selectParking.dueno.nombre +" "+vm.data.selectParking.dueno.apPaterno}}
            </div>
           
            <div class="col col-50">
             <i class="icon ion-ios-location-outline"></i>  {{vm.data.selectParking.comuna}}
            </div>
          </div>
          <div class="row">
             <div class="col col-50 ">
              <i class="icon ion-ios-telephone-outline"></i> {{vm.data.selectParking.dueno.telefono}}
            </div>
            <div class="col col-50">
             <i class="icon ion-ios-email-outline"></i>  {{vm.data.selectParking.dueno.correo}}</div>
          </div>
       </div>  
        <div class="footer">
          <div class="costo" >{{vm.data.selectParking.costo | currency:$:0}} por hora cada hora</div>
          <div class="info" >Ver horarios disponibles </div>
        </div>

        </ion-content>     
      </ion-modal-view>
    </script
</ion-view>

